{% extends "users/users_register_base.html" %}
{% load bootstrap3 %}

{% block actions %}
{% endblock %}

{% block title %}
	{% bootstrap_icon 'user' %} User registration
{% endblock %}

{% block content %}
{% bootstrap_alert "Congratulations!! Your user has been successfully registered. Access your email to validate your registration. If you don't find the message in your inbox, check your SPAM inbox" 'success' %}
<form action=" {% url 'home_redirect' %}" method=" get">
    <input type="submit" class = 'btn btn-info'value="Back" />
</form>
{% endblock %}