{% extends "users/users_register_base.html" %}
{% load bootstrap3 %}
{% load widget_tweaks %}

{% block actions %} 
{% endblock %}

{% block title %}
	{% bootstrap_icon 'user' %} User registration
{% endblock %}

{% block content %}
<form class="form" role="form" method="POST">
  {% csrf_token %}
  {{ form.non_field_errors }}

  {% bootstrap_field form.name %}
  {% bootstrap_field form.type %}
  {% bootstrap_field form.gender %}
  {% bootstrap_field form.birth_date %}
  {% bootstrap_field form.cpf|add_class:'mask_cpf' %}
  {% bootstrap_field form.phone|add_class:'mask_tel_celular' %} 
  {% bootstrap_field form.regulatory_agency_registration %}
  {% bootstrap_field form.email %}
  {% bootstrap_field form.password %}
  
  {% buttons submit='Save' %}
    <a href="{% url 'home_redirect' %}"class="btn btn-info" role="button">Back</a>
  {% endbuttons %}
</form>
{% endblock %}