{% extends 'core/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
      <img src="{% static 'core/img/logoUFN_hor.jpg' %}"
      class="img-responsive" style="max-width: 120px;">
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
      <center>
            <h2>Sistema de Gestão<br>Trabalhos Finais de Graduação</h2>
            
            <img src="{% static 'core/img/logoTFGOnline.png' %}"
                   class="img-responsive" style="max-width: 200px;">
            
            <h3>Ciência da Computação, Jogos Digitais e Sistemas de Informação</h3>

            <h2>Visão Administrador ou Coordenador ou Secretária </h2>
	</center>
{% endif %}

{% endblock %}